.informationContainer{
    --xd:red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly ;
    height: auto;
    padding: 6rem 0;
}

.informationContainer h1{
    font-family:'Fraunces', serif;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color:var(--Very-dark-desaturated-blue);
    max-width: 90%;
}

.informationContainer p{
    margin: 2rem 0 3.5rem 0;
    max-width: 82%;
    font-size: 2.1rem;
    text-align: center;
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
}

.informationContainer a{
    position: relative;
    font-family:'Fraunces', serif;
    text-decoration: unset;
    font-weight: 900;
    color:var(--Very-dark-desaturated-blue);
    font-size: 1.8rem;
    background-color: white;
}

.informationContainer a::after{
    position: absolute;
    left: -1rem;
    margin: auto;
    bottom: -0.2rem;
    content: '';
    background: var(--xd);
    width: calc(100% + 2rem);
    border-radius: 1.5rem;
    height: 1rem;
    opacity: 0.3;
}

@media (min-width:1024px) {
    .informationContainer{
    }
}