@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
:root {
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkdesaturated: hsl(167, 25%, 35%);
  --Darkblue: hsl(198, 62%, 26%);
  --Darkmoderate: hsla(168, 34%, 41%, 0.685);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
}
body {
  font-family: "Barlow", sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
